.button {
    border-radius: 3px;
    background: #000;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    display: block;
    width: fit-content;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(0.9);
}

.button-secondary {
    background: tomato;
    color: black;
}

.button-tertiary {
    background: transparent;
    border: 2px solid #000;
    color: black;
    padding: 10px 20px;
}

@media screen and (max-width: 780px) {
    .button {
        padding: 5px;
    }
}