.expositions .bouton,
.collections .bouton,
.histoire .bouton,
.boutique .bouton {
    position: absolute;
    background-color: var(--color-button);
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(16px, calc(20 / 1280 * 100vw), 20px);
    color: #FFFFFF;
    line-height: 25px;
    padding: 0 calc(18 / 1280 * 100vw);
    text-align: left;
}

.texte-langue {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: clamp(14px, calc(16 / 1280 * 100vw), 16px);
    line-height: 100%;
    color: var(--color-secondary);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.expositions .bouton {
    left: calc(65 / 1280 * 100%);
    top: calc(1193 / 1280 * 100vw);
    width: calc(216 / 1280 * 100%);
    height: calc(51 / 1280 * 100vw);
    min-width: 108px;
    min-height: 25.5px;
}

.collections .bouton {
    left: calc(554 / 1280 * 100%);
    top: calc(2111 / 1280 * 100vw);
    width: calc(216 / 1280 * 100%);
    height: calc(51 / 1280 * 100vw);
    min-width: 108px;
    min-height: 25.5px;
}

.histoire .bouton {
    left: calc(67 / 1280 * 100%);
    top: calc(2833 / 1280 * 100vw);
    width: calc(243 / 1280 * 100%);
    height: calc(51 / 1280 * 100vw);
    min-width: 121px;
    min-height: 25.5px;
}

.boutique .bouton {
    left: calc(458 / 1280 * 100%);
    top: calc(3595 / 1280 * 100vw);
    width: calc(281 / 1280 * 100%);
    height: calc(51 / 1280 * 100vw);
    min-width: 140px;
    min-height: 25.5px;
}
