/* Page Expositions Temporaires - Design Figma exact en Flexbox pur */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&family=Lora:wght@400;500;600&display=swap');

main.page-expositions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: calc(60 / 1920 * 100vw) calc(96 / 1920 * 100%) 0;
    padding-bottom: calc(60 / 1920 * 100vw);
    background-color: var(--color-background);
    gap: 0;
}

.titre-principal {
    font-family: 'MusBA', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #4a3a2a;
    margin: 0 0 calc(60 / 1920 * 100vw) 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    align-self: flex-start;
}

.exposition-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: calc(447 / 1920 * 100vw);
}

.exposition-contenu {
    display: flex;
    gap: calc(60 / 1920 * 100%);
    align-items: flex-start;
    width: 100%;
}

.exposition-colonne-gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exposition-colonne-droite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exposition-image {
    width: 100%;
}

.exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}

.exposition-titre {
    font-family: 'MusBA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
}

.exposition-dates {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    color: #4a3a2a;
    margin: 0;
    padding: 0;
}

.exposition-dates .date-chiffre {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-dates .date-texte {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-texte {
    width: 100%;
}

.exposition-texte p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    display: inline;
}

.exposition-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(12 / 1920 * 100vw);
}

.exposition-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(85.5 / 1920 * 100vw);
    margin-top: calc(-636 / 1920 * 100vw);
    align-self: flex-end;
    width: calc(25% - 21px);
}

.exposition-1 {
    margin-bottom: calc(447 / 1920 * 100vw);
}

.exposition-1 .exposition-colonne-gauche {
    flex: 0 0 calc(1140 / 1920 * 100%);
}

.exposition-1 .exposition-colonne-droite {
    flex: 0 0 calc(552 / 1920 * 100%);
}

.exposition-1 .exposition-image {
    height: calc(606 / 1920 * 100vw);
    margin-bottom: calc(36 / 1920 * 100vw);
}

.exposition-1 .exposition-dates {
    font-family: 'MusBA', sans-serif;
    padding-left: calc(82.995 / 1920 * 100%);
}

.exposition-1 .exposition-dates .date-chiffre {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}

.exposition-1 .exposition-dates .date-texte {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.exposition-2 {
    margin-bottom: calc(447 / 1920 * 100vw);
}

.exposition-2 .exposition-contenu {
    margin-bottom: calc(636 / 1920 * 100vw);
}

.exposition-2 .exposition-colonne-gauche {
    flex: 0 0 calc(517.5 / 1920 * 100%);
}

.exposition-2 .exposition-colonne-droite {
    flex: 0 0 calc(1134 / 1920 * 100%);
}

.exposition-2 .exposition-image {
    height: calc(604.5 / 1920 * 100vw);
}

.exposition-2 .exposition-header {
    margin-top: calc(-636 / 1920 * 100vw);
}

.exposition-3 {
    margin-bottom: calc(447 / 1920 * 100vw);
}

.exposition-3 .exposition-colonne-gauche {
    flex: 0 0 calc(1134 / 1920 * 100%);
    gap: calc(85.5 / 1920 * 100vw);
}

.exposition-3 .exposition-colonne-droite {
    flex: 0 0 calc(529.5 / 1920 * 100%);
    gap: calc(85.5 / 1920 * 100vw);
}

.exposition-3 .exposition-image {
    height: calc(604.5 / 1920 * 100vw);
}

.exposition-4 {
    margin-bottom: calc(447 / 1920 * 100vw);
}

.exposition-4 .exposition-contenu {
    margin-bottom: calc(670.5 / 1920 * 100vw);
}

.exposition-4 .exposition-colonne-gauche {
    flex: 0 0 calc(552 / 1920 * 100%);
}

.exposition-4 .exposition-colonne-droite {
    flex: 0 0 calc(1140 / 1920 * 100%);
}

.exposition-4 .exposition-image {
    height: calc(637.5 / 1920 * 100vw);
}

.exposition-4 .exposition-header {
    margin-top: calc(-670.5 / 1920 * 100vw);
}

.exposition-5 {
    margin-bottom: 0;
}

.exposition-5 .exposition-colonne-gauche {
    flex: 0 0 calc(1140 / 1920 * 100%);
    gap: calc(85.5 / 1920 * 100vw);
}

.exposition-5 .exposition-colonne-droite {
    flex: 0 0 calc(550.5 / 1920 * 100%);
    gap: calc(85.5 / 1920 * 100vw);
}

.exposition-5 .exposition-image {
    height: calc(735 / 1920 * 100vw);
}

.exposition-5 .exposition-dates {
    padding-left: calc(82.995 / 1920 * 100%);
}

@media screen and (max-width: 768px) {
    main.page-expositions {
        padding: 20px;
        padding-top: 40px;
        gap: 40px;
    }

    .titre-principal {
        font-size: clamp(32px, 8vw, 40px);
        margin-bottom: 30px;
    }

    .exposition-item {
        margin-bottom: 50px;
    }

    .exposition-contenu {
        flex-direction: column;
        gap: 20px;
    }

    .exposition-colonne-gauche,
    .exposition-colonne-droite {
        flex: 1 1 100%;
        width: 100%;
    }

    .exposition-image {
        height: auto;
        max-height: 400px;
    }

    .exposition-header {
        margin-top: 20px;
        width: 100%;
        align-items: flex-start;
    }
}
