

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&family=Lora:wght@400;500;600&display=swap');

main.page-expositions {
    position: relative;
    width: 100%;
    margin: 0;
    min-height: calc(5376 / 1920 * 100vw); 
    height: auto;
    padding: calc(120 / 1920 * 100vw) calc(96 / 1920 * 100%); 
    padding-bottom: calc(120 / 1920 * 100vw);
    background-color: var(--color-background);
}

.titre-principal {
<<<<<<< HEAD
    font-family: 'MusBa', serif;
    font-size: clamp(48px, calc(64 / 1280 * 100vw), 64px);
    font-weight: 300;
    line-height: 1.1;
    color: var(--color-primary);
    margin: 0 0 calc(60 / 1280 * 100vw) 0;
=======
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(108 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 60px; 
    font-weight: 400;
    line-height: 1;
    color: #4a3a2a; 
    margin: 0;
>>>>>>> 9877f1b (ton message)
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    width: auto;
}

.exposition-item {
    position: relative;
    width: 100%;
    margin-bottom: calc(80 / 1280 * 100vw);
}

.exposition-contenu {
    display: flex;
    gap: calc(40 / 1280 * 100%);
    align-items: flex-start;
    width: 100%;
}

.exposition-colonne-gauche {
    flex: 0 0 58%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exposition-colonne-droite {
    flex: 0 0 38%;
    display: flex;
    align-items: flex-start;
    padding-top: 0;
    margin-top: 0;
}

.exposition-1 {
    position: relative;
}

.exposition-1 .exposition-image {
    position: absolute;
    left: calc(94.5 / 1920 * 100%); 
    top: calc(274.5 / 1920 * 100vw); 
    width: calc(1140 / 1920 * 100%); 
    height: calc(606 / 1920 * 100vw); 
}

.exposition-1 .exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    margin: 0;
    padding: 0;
}

.exposition-1 .exposition-titre {
    position: absolute;
    left: calc(94.5 / 1920 * 100%); 
    top: calc(912 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 30px; 
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}

.exposition-1 .exposition-dates {
    position: absolute;
    left: calc(8.33% + 82.995px); 
    top: calc(997.5 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #4a3a2a; 
    margin: 0;
    padding: 0;
    width: auto;
}

.exposition-1 .exposition-dates .date-chiffre {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    vertical-align: baseline;
}

.exposition-1 .exposition-dates .date-texte {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    vertical-align: baseline;
}

.exposition-1 .exposition-texte {
    position: absolute;
    left: calc(66.67% - 7.995px); 
    top: calc(274.5 / 1920 * 100vw); 
    width: calc(552 / 1920 * 100%); 
    height: calc(637.5 / 1920 * 100vw); 
}

.exposition-1 .exposition-texte p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    font-weight: 500; 
    line-height: 25px; 
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-1 .exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px; 
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: inline;
}

.exposition-2 {
    position: relative;
}

.exposition-2 .exposition-titre {
<<<<<<< HEAD
    font-family: 'MusBa', serif;
    font-size: clamp(28px, calc(36 / 1280 * 100vw), 36px);
    font-weight: 400;
    line-height: 1.3;
    color: var(--color-primary);
    margin: 0 0 calc(12 / 1280 * 100vw) 0;
    padding: 0;
    text-align: left;
    letter-spacing: -0.01em;
}

.exposition-2 .exposition-dates {
    font-family: 'MusBa', serif;
    font-size: clamp(14px, calc(16 / 1280 * 100vw), 16px);
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
=======
    position: absolute;
    left: calc(75% - 21px); 
    top: calc(1966.5 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
>>>>>>> 9877f1b (ton message)
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    width: auto;
}

.exposition-2 .exposition-dates {
    position: absolute;
    left: calc(66.67% - 7.995px); 
    top: calc(2052 / 1920 * 100vw); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    color: #4a3a2a; 
    margin: 0;
    padding: 0;
    width: auto;
}

.exposition-2 .exposition-dates .date-chiffre {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-2 .exposition-dates .date-texte {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-2 .exposition-image {
    position: absolute;
    left: calc(33.33% + 45.495px); 
    top: calc(1330.5 / 1920 * 100vw); 
    width: calc(1134 / 1920 * 100%); 
    height: calc(604.5 / 1920 * 100vw); 
}

.exposition-2 .exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.exposition-2 .exposition-texte {
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(1330.5 / 1920 * 100vw); 
    width: calc(517.5 / 1920 * 100%); 
    height: calc(475.5 / 1920 * 100vw); 
}

.exposition-2 .exposition-texte p {
<<<<<<< HEAD
    font-family: 'MusBa', serif;
    font-size: clamp(16px, calc(18 / 1280 * 100vw), 18px);
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-primary);
=======
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
>>>>>>> 9877f1b (ton message)
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-2 .exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: inline;
}

.exposition-3 {
    position: relative;
}

.exposition-3 .exposition-titre {
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(3018 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    width: auto;
}

.exposition-3 .exposition-dates {
    position: absolute;
    left: calc(25% + 57px); 
    top: calc(3103.5 / 1920 * 100vw); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    color: #4a3a2a;
    margin: 0;
    padding: 0;
    width: auto;
}

.exposition-3 .exposition-dates .date-chiffre {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-3 .exposition-dates .date-texte {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-3 .exposition-image {
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(2382 / 1920 * 100vw); 
    width: calc(1134 / 1920 * 100%); 
    height: calc(604.5 / 1920 * 100vw); 
}

.exposition-3 .exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.exposition-3 .exposition-texte {
    position: absolute;
    left: calc(66.67% - 7.995px); 
    top: calc(2382 / 1920 * 100vw); 
    width: calc(529.5 / 1920 * 100%); 
    height: calc(604.5 / 1920 * 100vw); 
}

.exposition-3 .exposition-texte p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-3 .exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: inline;
}

.exposition-4 {
    position: relative;
}

.exposition-4 .exposition-titre {
    position: absolute;
    left: calc(75% - 21px); 
    top: calc(4105.5 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    width: auto;
}

.exposition-4 .exposition-dates {
    position: absolute;
    left: calc(58.33% + 4.995px); 
    top: calc(4191 / 1920 * 100vw); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    color: #4a3a2a;
    margin: 0;
    padding: 0;
    width: auto;
}

.exposition-4 .exposition-dates .date-chiffre {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-4 .exposition-dates .date-texte {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-4 .exposition-image {
    position: absolute;
    left: calc(33.33% + 42.495px); 
    top: calc(3436.5 / 1920 * 100vw); 
    width: calc(1140 / 1920 * 100%); 
    height: calc(637.5 / 1920 * 100vw); 
}

.exposition-4 .exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.exposition-4 .exposition-texte {
    position: absolute;
    left: calc(94.5 / 1920 * 100%); 
    top: calc(3436.5 / 1920 * 100vw); 
    width: calc(552 / 1920 * 100%); 
    height: calc(637.5 / 1920 * 100vw); 
}

.exposition-4 .exposition-texte p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-4 .exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: inline;
}

.exposition-5 {
    position: relative;
}

.exposition-5 .exposition-titre {
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(5290.5 / 1920 * 100vw); 
    font-family: 'MusBA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    width: auto;
}

.exposition-5 .exposition-dates {
    position: absolute;
    left: calc(8.33% + 82.995px); 
    top: calc(5376 / 1920 * 100vw); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    color: #4a3a2a;
    margin: 0;
    padding: 0;
    width: auto;
}

.exposition-5 .exposition-dates .date-chiffre {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-5 .exposition-dates .date-texte {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: baseline;
}

.exposition-5 .exposition-image {
    position: absolute;
    left: calc(96 / 1920 * 100%); 
    top: calc(4524 / 1920 * 100vw); 
    width: calc(1140 / 1920 * 100%); 
    height: calc(735 / 1920 * 100vw); 
}

.exposition-5 .exposition-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.exposition-5 .exposition-texte {
    position: absolute;
    left: calc(66.67% - 7.995px); 
    top: calc(4524 / 1920 * 100vw); 
    width: calc(550.5 / 1920 * 100%); 
    height: calc(492 / 1920 * 100vw); 
}

.exposition-5 .exposition-texte p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
}

.exposition-5 .exposition-texte p .lettrine {
    font-family: 'MusBA', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: inline;
}

@media screen and (max-width: 768px) {
    main.page-expositions {
        padding: 20px;
        padding-top: 40px;
    }

    .titre-principal {
        font-size: clamp(32px, 8vw, 40px);
        margin-bottom: 30px;
    }

    .exposition-item {
        margin-bottom: 50px;
    }

    .exposition-contenu {
        flex-direction: column;
        gap: 20px;
    }

    .exposition-colonne-gauche,
    .exposition-colonne-droite {
        flex: 1 1 100%;
        width: 100%;
    }

    .exposition-1 .exposition-image {
        margin-bottom: 20px;
    }

    .exposition-1 .exposition-info {
        margin-bottom: 20px;
    }

    .exposition-1 .exposition-texte p {
        text-align: left;
    }

    .exposition-1 .exposition-texte p .lettrine {
        font-size: 48px;
        margin-right: 8px;
    }

    .exposition-2,
    .exposition-3,
    .exposition-4,
    .exposition-5 {
        top: 0;
    }

    .exposition-2 .exposition-info,
    .exposition-3 .exposition-info,
    .exposition-4 .exposition-info,
    .exposition-5 .exposition-info {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .exposition-2 .exposition-images-double,
    .exposition-3 .exposition-image,
    .exposition-4 .exposition-image,
    .exposition-5 .exposition-image {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .exposition-2 .exposition-images-double {
        flex-direction: column;
        gap: 15px;
    }

    .exposition-2 .exposition-images-double .image-item {
        height: auto;
        min-height: 200px;
    }

    .exposition-2 .exposition-texte,
    .exposition-3 .exposition-texte,
    .exposition-4 .exposition-texte,
    .exposition-5 .exposition-texte {
        position: relative;
        left: 0;
        width: 100%;
        top: 0;
    }
}
