@media screen and (max-width: 7px) {
    .en-tete {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .lien {
        margin-bottom: 0.5rem;
    }

    .recherche {
        margin-bottom: 1rem;
    }

    .langue {
        margin-bottom: 1rem;
    }

    .ligne {
        display: none;
    }

    .menu-deroulant {
        position: static;
        width: 100%;
    }

    .image-accueil,
    .image-expositions,
    .image-collections,
    .image-histoire {
        width: 100%;
        height: auto;
    }

    .titre-accueil,
    .titre,
    .texte {
        font-size: 1.2rem;
    }

    .bouton {
        width: 100%;
    }
}