body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
    line-height: 1.5;
    overflow-x: hidden;
}

main {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    background-color: var(--color-background);
    position: relative;
    height: calc(3646 / 1280 * 100vw);
    padding: 0;
    padding-bottom: calc(80 / 1280 * 100vw);
}

.accueil .contenu,
.expositions .contenu,
.collections .contenu,
.histoire .contenu,
.boutique .contenu {
position: relative;
}
